# Number Pattern Programs

Here, Program should contain 2 logic, one for Pattern , One for Numbers...

In [1]:
# after ending the j-loop, we use print() to change the line

n = 5

for i in range(n):
    for j in range (n):
        print('1', end=' ')
    print()

1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1
1 1 1 1 1

In [2]:
n = 5

for i in range(n):
    for j in range (i + 1):
        print('1', end=' ')
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [3]:
n = 5

for i in range(n):
    for j in range (n-i):
        print('$', end=' ')
    print()

$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

In [4]:
n = 5
p = 1

for i in range(n):
    for j in range (i + 1):
        print(p, end=' ')
    p = p + 1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [5]:
n = 5
p = 5

for i in range(n):
    for j in range (i + 1):
        print(p, end=' ')
    p = p - 1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [6]:
n = 5
p = 0

for i in range(n):
    for j in range (i + 1):
        print(p, end=' ')
    p = p + 2
    print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

#### Alternative

In [7]:
n = 5
p = 5

for i in range(n):
    for j in range (i + 1):
        if(i%2 == 0):
            print('1', end=' ')
        else:
            print('2', end=' ')
    print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [8]:
n = 5
p = 1

for i in range(n - 1):                             # minus 1 row
    for j in range (n-i):
        print(' ', end=' ')
    for j in range (i):
        print(p , end=' ')
    for j in range (i + 1):
        print(p , end=' ')
    p = p + 1
    print()
    

p = 1

for i in range(n):
    for j in range (i + 1):
        print(' ', end=' ')
    
    for j in range ((n-1)-i): 
        print(p, end=' ')
        
    for j in range (n-i):
        print(p, end=' ') 
    p = p + 1   
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  1 1 1 1 1 1 1 1 1
    2 2 2 2 2 2 2
      3 3 3 3 3
        4 4 4
          5

In [9]:
n = 5
p = 1

for i in range(n - 1):                             # minus 1 row
    for j in range (n-i):
        print(' ', end=' ')
    for j in range (i):
        print(p , end=' ')
    for j in range (i + 1):
        print(p , end=' ')
    p = p + 1
    print()
    

# p = 1

for i in range(n):
    for j in range (i + 1):
        print(' ', end=' ')
    
    for j in range ((n-1)-i): 
        print(p, end=' ')
        
    for j in range (n-i):
        print(p, end=' ') 
    p = p + 1   
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [10]:
n = 5
p = 1

for i in range(n - 1):                             # minus 1 row
    for j in range (n-i):
        print(' ', end=' ')
    for j in range (i):
        print(p , end=' ')
    for j in range (i + 1):
        print(p , end=' ')
    p = p + 1
    print()
    

# p = 1

for i in range(n):
    for j in range (i + 1):
        print(' ', end=' ')
    
    for j in range ((n-1)-i): 
        print(p, end=' ')
        
    for j in range (n-i):
        print(p, end=' ') 
    p = p - 1   
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

#### change in column number:

In [11]:
n = 5

for i in range(n):
    p = 1
    for j in range (i + 1):
        print(p, end=' ')
        p = p + 1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [12]:
n = 5

for i in range(n):
    p = 1
    for j in range (i + 1):
        print('', end='')
    for j in range(i,n):
        print(p,end ='')
        p = p + 1
    print()

12345
1234
123
12
1

In [13]:
n = 5 
for i in range(n): 
   p=1
   for j in range(i, n): 
      print(' ', end=' ') 
   for j in range(i):
      print(p, end=' ')
      p+=1
   for j in range(i+1):
      print(p, end=' ')
      p+=1
   print(' ')

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [14]:
n = 5
for i in range(n):
   p=5
   for j in range(i+1): 
      print(p, end=' ')
      p-=1
   print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [15]:
n=5
k=5 
for i in range (n):
   p = k
   for j in range (i+1):
      print (' ', end = ' ')
   for j in range (i,n):
      print (p, end = ' ') 
      p-=1
   k-=1
   print()

  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

In [16]:
n = 5

for i in range(n):
  p = 1
  for j in range (i,n):
     print(' ', end=' ')
  for j in range (i):
     print(p, end = ' ')
     p = p + 1
  for j in range(i + 1):
     print(p,end =' ')
     p = p + 1
  print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [17]:
n = 5
for i in range(n):
   p=5
   for j in range(i+1): 
      print(p, end=' ')
      p-=1
   print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [18]:
n=5
k=5 
for i in range (n):
   p = k
   for j in range (i+1):
      print (' ', end = ' ')
   for j in range (i,n):
      print (p, end = ' ') 
      p-=1
   k-=1
   print()

  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

In [19]:
n = 5 
for i in range(n):
  p=1
  for j in range(i, n): 
     print(' ', end=' ') 
  for j in range(i):
     print(p, end=' ')
     p+=1
  for j in range(i+1):
     print(p, end=' ')
     p-=1
  print()

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [20]:
n = 4
p=1
for i in range(n):
  for j in range(i+1): 
    print(p, end=' ')
    p+=1
  print()

1
2 3
4 5 6
7 8 9 10