# Star Progrmas

There Are 2 Types here,
One is Increasing Triangle and
Second One is Decreasing Triangle 

By Joining These Triangles, we can solve any star problems..

when we print any thing in python we do it row-by-row...
printing starts from left side
The blank we see in pattern is nothing but spaces,that are being printed...

To print any star we write:-
    print('*')
    
To Print n star we write:- 
    n = 5
    for j in range (n):
        print('*')

In [1]:
print("*")

*

In [2]:
n = 5
print('*'*n)

*****

In [3]:
n = 5

for j in range (n):
    print('*')

*
*
*
*
*

In [4]:
# for printing the * in a single line...

n = 5

for j in range (n):
    print('*', end='')

*****

In [5]:
n = 5

for j in range (n):
    print('*', end=' ')

* * * * *

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [6]:
n = 5

for i in range(n):
    for j in range (n):
        print('*', end=' ')

* * * * * * * * * * * * * * * * * * * * * * * * *

In [7]:
# after ending the j-loop, we use print() to change the line

n = 5

for i in range(n):
    for j in range (n):
        print('*', end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

# how the loops are working 

row -> 0
column -> 0,1,2,3,4

row -> 1
column -> 0,1,2,3,4   etc..

In [8]:
n = 5

for i in range(n):
    for j in range (n):
        print('#', end=' ')
    print()

# # # # #
# # # # #
# # # # #
# # # # #
# # # # #

In [9]:
n = 5

for i in range(n):
    for j in range (n):
        print('$', end=' ')
    print()

$ $ $ $ $
$ $ $ $ $
$ $ $ $ $
$ $ $ $ $
$ $ $ $ $

1. Increasing Triangle ...

In [10]:
# j = row no. + 1

n = 5

for i in range(n):
    for j in range (i + 1):
        print('$', end=' ')
    print()

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $

2. Decreasing Traingle ...`

In [11]:
# j = n - row no.

n = 5

for i in range(n):
    for j in range (n-i):
        print('$', end=' ')
    print()

$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

In [12]:
# j = range(starting of range, ending of range)

# (0,5)
# (1,5)
# (2,5)
# (3,5) ........ 

# ------------------------====================================---------------------=================

n = 5

for i in range(n):
    for j in range (i,n):
        print('$', end=' ')
    print()

$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

Combination of Triangle:-

1. Decreasing Space 
2. Increasing Star

In [13]:
n = 5
for i in range(n):
    for j in range (n-i):
        print(' ', end=' ')
        
    for j in range (i + 1):
        print('*', end=' ')
    
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

1. Increasing Space
2. Decreasing Star

In [14]:
n = 5
for i in range(n):
    for j in range (i + 1):
        print('*', end=' ')
        
    for j in range (n-i):
        print(' ', end=' ')
    
    print()

*
* *
* * *
* * * *
* * * * *

Hill Pattern

1. Decreasing Space 
2. Increasing Star 
3. Increasing Star

In [15]:
n = 5
for i in range(n):
    for j in range (n-i):
        print(' ', end=' ')
    for j in range (i + 1):
        print('*', end=' ')
    for j in range (i + 1):
        print('*', end=' ')
    print()

          * *
        * * * *
      * * * * * *
    * * * * * * * *
  * * * * * * * * * *

In [16]:
n = 5
for i in range(n):
    for j in range (n-i):
        print(' ', end=' ')
    for j in range (i):
        print('*', end=' ')
    for j in range (i + 1):
        print('*', end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

Reverse Mountain Pattern

1. Increasing Space
2. Decreasing Star
3. Decreasing Star

In [17]:
n = 5
for i in range(n):
    for j in range (i + 1):
        print(' ', end=' ')
    
    for j in range ((n-1)-i): 
        print('*', end=' ')
        
    for j in range (n-i):
        print('*', end=' ') 

    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [18]:
n = 5
for i in range(n):
    for j in range(i + 1):
        print(" ",end = '')
        
    for j in range(i,n-1):
        print("*",end = '')
        
    for j in range(i,n):
        print("*",end = '') 
    print()

 *********
  *******
   *****
    ***
     *

Diamond Pattern

Upper triangle + Lower Triangle

In [19]:
n = 5
for i in range(n):
    for j in range (n-i):
        print(' ', end=' ')
    for j in range (i):
        print('*', end=' ')
    for j in range (i + 1):
        print('*', end=' ')
    print()
    
for i in range(n):
    for j in range (i + 1):
        print(' ', end=' ')
    
    for j in range ((n-1)-i): 
        print('*', end=' ')
        
    for j in range (n-i):
        print('*', end=' ') 
        
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [20]:
n = 5
for i in range(n - 1):                             # minus 1 row
    for j in range (n-i):
        print(' ', end=' ')
    for j in range (i):
        print('*', end=' ')
    for j in range (i + 1):
        print('*', end=' ')
    print()
    
for i in range(n):
    for j in range (i + 1):
        print(' ', end=' ')
    
    for j in range ((n-1)-i): 
        print('*', end=' ')
        
    for j in range (n-i):
        print('*', end=' ') 
        
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *